.container {
  position: fixed;
  bottom: 0;
  right: 10px;
  height: 60px;
  width: 260px;
  display: flex;
  align-items: center;
  gap: 14px;
  z-index: 1000;
}

.message {
  background-color: #fff;
  height: 90%;
  flex: 4;
  border-radius: 6px;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* X-offset, Y-offset, Blur, Spread */
}

.wave-image {
  height: 90%;
  width: 50px;
  border-radius: 6px;
  background-color: #611f69;
}

.wave-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 10px;
}
